*{
    margin: auto;
    background-color: #d3d3d3;
}

.formular{
    text-align: center;
    height: auto;
}

ul{
    list-style-type: none;
}

li{
    padding: 0.5%;
}

input{
    font-size: 200%;
}


